.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #FFFFFF;
}

.login-card {
  position: relative;
  background: #D1D1D190;
  border-radius: 18px;
   width: 90%;
  max-width: 550px;
  padding: 2rem 2rem 2.5rem;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  overflow: visible;
}

/* faixa vermelha no topo */
.login-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #c1121f;
  border-top-left-radius: 18px;   /* arredonda só canto superior esquerdo */
  border-top-right-radius: 18px;  /* arredonda só canto superior direito */
  border-bottom-left-radius: 0;   /* canto inferior reto */
  border-bottom-right-radius: 0;  /* canto inferior reto */
}

.login-avatar {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 148px;   /* círculo maior para dar espaço */
  height: 148px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 3;
  border: #B20000 1px solid; /* borda do círculo */
}

.login-avatar img {
  width: 86%;             /* zoom controlado */
  height: auto;
  object-fit: cover;       /* mantém proporção e preenche */
}



/* título */
.login-title {
  margin-top: 80px;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  margin-bottom: 1rem;
}

form {
  padding: 0 3rem; /*  espaçamento lateral dentro do form */
}

.form-group {
  text-align: left;
  margin-bottom: 1rem;
  
}

.form-group label {
  color: black ;
  font-size: 1rem;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 0.6rem;
  border-radius: 20px;
  border: none;
  outline: none; /*  remove a borda ao clicar */
  background: white; /* garante fundo branco */
  margin-top: 2px;
  margin-bottom: 0;
  box-shadow: none; /* remove qualquer sombra padrão */
}

/* remove borda ao clicar (focus) */
.form-group input:focus {
  outline: none;
  box-shadow: none;
}

/* esqueceu senha */
.forgot-password {
  font-size: 0.8rem;
  color: black;
  text-align: right;
  margin-top: 6px;
  margin-bottom:12px;
  cursor: pointer;
  display:block;
}

/* botão */
.login-button {
  width: 40%;
  background: #b20000;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0.2rem 0.1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-button:hover {
  background: #7d0000;
}